communityTeams
<div ng-show="currentUser">
	<button ng-click="toggleTeam = !toggleTeam">Create Team</a></button>
</div>

<div ng-show="currentUser">
	<form class="teamsInput" ng-show="toggleTeam" ng-submit="postTeamData(team)">
		<input type="text" ng-model="team.teamName" placeholder="Team Name">
		<input type="text" ng-model="team.mainDescription" placeholder="Team Description">
		<input type="text" ng-model="team.clubAge" placeholder="Club Age">
		<input type="text" ng-model="team.logo" placeholder="Team Logo">
		<input type="text" ng-model="team.website" placeholder="Website Address">
	  <input type="submit">
	</form>
</div>

<div class="teams" ng-repeat="team in teamData">
	<div class="team">
		<h1>{{team.teamName}}<h1>
		<img src={{team.logo}}>
		<h5>{{team.clubAge}}</h5>
		<h5>{{team.mainDescription}}</h5>
		<h5>{{team.website}}</h5>
		<h5>{{team.createdBy}}</h5>
		<button ng-click="destroyTeamData(team)">Destroy</button>


	</div>
</div>


<p>list of community teams</p>
<p>create a community teams</p>
