communityTeams

<div ng-show="currentUser">
	<div ng-show="!currentUser.hasTeams">
		<button ng-click="toggleTeam = !toggleTeam">Create Team</a></button>
	</div>
</div>

<div ng-show="!currentUser.hasTeams">
	<form class="teamsInput" ng-show="toggleTeam" ng-submit="postTeamData(team)">
		<input type="text" ng-model="team.teamName" placeholder="Team Name">
		<input type="text" ng-model="team.mainDescription" placeholder="Team Description">
		<input type="text" ng-model="team.clubAge" placeholder="Club Age">
		<input type="text" ng-model="team.logo" placeholder="Team Logo">
		<input type="text" ng-model="team.website" placeholder="Website Address">
	  <input type="submit">
	</form>
</div>

<div class="teams" ng-repeat="team in teamData">
	<div class="team">

      	<input ng-show="editTeamButton" ng-model="team.teamName" placeholder="{{team.teamName}}">
		<h1 ng-show="!editTeamButton">{{team.teamName}}<h1>
		<input ng-show="editTeamButton" ng-model="team.logo" placeholder="{{team.logo}}">
		<img ng-show="!editTeamButton" src={{team.logo}}>
		<input ng-show="editTeamButton" ng-model="team.clubAge" placeholder="{{team.clubAge}}">
		<h5 ng-show="!editTeamButton">{{team.clubAge}}</h5>
		<input ng-show="editTeamButton" ng-model="team.mainDescription" placeholder="{{team.mainDescription}}">
		<h5 ng-show="!editTeamButton">{{team.mainDescription}}</h5>
		<input ng-show="editTeamButton" ng-model="team.website" placeholder="{{team.website}}">
		<h5 ng-show="!editTeamButton">{{team.website}}</h5>
		<input ng-show="editTeamButton" ng-model="team.createdBy" placeholder="{{team.createdBy}}">
		<h5 ng-show="!editTeamButton">{{team.createdBy}}</h5>


		<button ng-show="team.createdBy == currentUser._id" ng-click="destroyTeamData(team)">Destroy</button>
		<button ng-show="team.createdBy == currentUser._id">Create a Fundraiser</button>
		<div ng-show="team.createdBy == currentUser._id">
			<button ng-hide="editTeamButton" ng-click="editTeamButton = true">EDIT TEAM</button>
	       	<button ng-show="editTeamButton" ng-click="updateTeamData(team); editTeamButton = false"> Save Changes</button>
	  </div>
	</div>
</div>


<p>list of community teams</p>
<p>create a community teams</p>
