<div ng-show="currentUser">
	<div ng-show="!currentUser.hasProjects">
		<button ng-click="toggleProject = !toggleProject">Create Project</a></button>
	</div>
</div>


<div ng-show="currentUser">
	<form class="projectsInput" ng-show="toggleProject" ng-submit="postProjectData(project)">
		<input type="text" ng-model="project.name" placeholder="Project Name">
		<input type="text" ng-model="project.mainDescription" placeholder="Project Description">
		<input type="text" ng-model="project.estimatedLabor" placeholder="Hours to Complete">
		<input type="text" ng-model="project.estimatedCost" placeholder="Dollars to Complete">
		<input type="date" ng-model="project.dropDate" placeholder="Funding Complete By">
		<input type="text" ng-model="project.image" placeholder="Project Image">
	 	<input type="submit">
	</form>
</div>

<!-- <div class="projects" ng-repeat="project in projectData | filter:filterProjectIsMatched | filter:filterProjectIsActive"> -->
<div class="postedProjects">
		<div class="projectContainer" ng-repeat="project in projectData | filter:filterProjectIsMatched ">

				<div class="projName">
					<h4>{{project.name}}</h4>
				</div>
				<div class="projInfo">
					<div class="projPic">
							<img src={{project.image}}>
					</div>
					<p>{{project.mainDescription}}</p>
					<p>{{project.estimatedLabor}}</p>
					<p>{{project.estimatedCost}}</p>
					<p>{{project.dropDate}}</p>
					<p>{{project.createdBy}}</p>
					<p>{{project.isMatched}}</p>
				</div>
				<div class="projMatchContainer">
					<button id="projMatchButton" ng-show="currentUser.hasFundraiser">Match Your Team</button>
				</div>

				<button ng-show="project.createdBy == currentUser._id" ng-click="destroyProjectData(project)">Destroy</button>
				<button ng-show="project.createdBy == currentUser._id" ng-click="destroyProjectData(project)">Update Project</button>

	</div>
</div>




<p>list of community projects</p>
<p>create a community projects</p>
<p>create a community project match, agree to work</p>
