
<div class="postProjContainer">
	<form class="projectsInput" ng-submit="postProjectData(project)">
		<h2><u>Create A Project Below:</u></h2>
		<p>Project Name:</p>
			<input type="text" ng-model="project.name">
			<p>Project Description:</p>
			<input type="text" ng-model="project.mainDescription">
			<p>Project Picture:</p>
			<input type="text" ng-model="project.image">
			<p>Estimated Hours To Complete:</p>
		<input type="text" ng-model="project.estimatedLabor">
		<p>Estimated Cost To Complete:</p>
		<input type="text" ng-model="project.estimatedCost">
		<p>Completion Date: </p>
		<input type="date" ng-model="project.dropDate">
		<input id="postProjInput" type="submit">
	</form>
</div>
