<div class="postProjContainer">
	<form class="projectsInput">
		<h2><u>Sign Up Your Team Below:</u></h2>
		<p>Team Name:</p>
			<input type="text" ng-model="team.teamName">
			<p>Tell Us About Yourself:</p>
			<input type="text" ng-model="team.mainDescription">
			<p>How Long Have You Been A Team:</p>
			<input type="text" ng-model="team.clubAge">
			<p>Team Logo:</p>
			<input type="text" ng-model="team.logo">
			<p>Team Website Address:</p>
			<input type="text" ng-model="team.website">
			<button id="postProjInput" ng-click="postTeamData(team)">Submit</button>
	
	</form>
</div>
