createProject.html

<form class="projectsInput" ng-submit="postProjectData(project)">
	<input type="text" ng-model="project.name" placeholder="Project Name">
	<input type="text" ng-model="project.mainDescription" placeholder="Project Description">
	<input type="text" ng-model="project.estimatedLabor" placeholder="Hours to Complete">
	<input type="text" ng-model="project.estimatedCost" placeholder="Dollars to Complete">
	<input type="date" ng-model="project.dropDate" placeholder="Funding Complete By">
	<input type="text" ng-model="project.image" placeholder="Project Image">
	<input type="submit">
</form>
