<div class="postProjContainer">
		<form class="projectsInput" ng-submit="postFundraiserData(fundraiser)">
			<h2><u>Post a Fundraiser Below:</u></h2>
			<p>Fundraiser Name:</p>
			<input type="text" ng-model="fundraiser.name">
			<p>Fundraiser Description:</p>
			<input type="text" ng-model="fundraiser.mainDescription">
			<p>Fundraiser Goal:</p>
			<input type="text" ng-model="fundraiser.goal">
			<p>Fundraiser Image:</p>
			<input type="text" ng-model="fundraiser.image">
		 	<input id="postProjInput" type="submit">
		</form>
</div>
