<div class="postProjContainer">
   <form class="projectsInput" ng-submit="postNewUser(newUser)">
      <h3><u>Create New Account Below:</u></h3>
      <p>First Name: </p>
      <input type="text" ng-model="newUser.nameFirst">
      <p>Last Name: </p>
      <input type="text" ng-model="newUser.nameLast">
      <p>Email: </p>
      <input type="text" ng-model="newUser.email">
      <p>Password: </p>
      <input type="password" ng-model="newUser.password">
      <small> If you already have an account please login above.</small>
      <input id="postProjInput" type="submit">
   </form>
</div>
