<div class="matchedProjects">
	<div class="matches" ng-repeat="match in matchData">
		<div class="match">
			<div class="matchName">
				<h4>Matched!</h4>
			</div>
			<div class="teamBox">
				<div class="teamPic">
					<img src={{match.teamLogo}}/>
				</div>
				<div class="teamInfo">
					<p>Team: {{match.teamName}}</p>
					<p>Fundraiser: {{match.fundraiserName}}</p>
					<p>{{match.fundraiserMainDescription}}</p>
					<p>{{match.fundraiserGoal}}</p>
				</div>
			</div>
			<div class="projectBox">
				<div class="projectPic">
					<img src={{match.projectImage}}/>
				</div>
				<div class="projectInfo">
					<p>Project: {{match.projectName}}</p>
					<p>{{match.projectMainDescription}}</p>
					<p>Drop Date: {{match.projectDropDate}}</p>
				</div>
			</div>
		</div>
		<button ng-click="toDonate(match)">DONATE NOW</button>
	</div>
</div>
