<div class="matchedProjects">
	<div class="matches" ng-repeat="match in matchData">
		<div class="match">
			<div class="matchName">
				<h4>Matched!</h4>
			</div>
			<div class="matchBox">
				<div class="matchPic">
					<img src={{match.teamLogo}}>
				</div>
				<div class="teamInfo">
					<p>Team: {{match.teamName}}</p>
					<p>Fundraiser: {{match.fundraiserName}}</p>
					<p>{{match.fundraiserMainDescription}}</p>
					<p>{{match.fundraiserGoal}}</p>
				</div>
			</div>
			<div class="matchBox">
				<div class="matchPic">
					<img src={{match.projectImage}}>
				</div>
				<div class="teamInfo">
					<p>Project: {{match.projectName}}</p>
					<p>{{match.projectMainDescription}}</p>
					<p>Drop Date: {{match.projectDropDate}}</p>
				</div>
			</div>
		</div>
		<button id="matchButton" ng-click="toDonate(match)">Donate Now</button>
	</div>
</div>
